:root
{
    --mainColor:#ff206e;
}
.header
{
    background-image: url('../img/bg_osaka.jpg');
    background-size: cover;
    background-position: center;
}
.header-content a
{
    color: #ff206e;
}
.icon
{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    transition: 1s;
}
.icon:hover
{
    background-color: #ff206e;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show
{
    color: #ff206e;
}
.nav-link:focus, .nav-link:hover
{
    color: #ff206e;
}
/* end header */

/* start about */
.about-content h2
{
    font-size: 3rem;
    letter-spacing: 15px;
    font-weight: 900;
    color: #cacaca;
}
.about-content h3
{
    font-size: 2rem;
    font-weight: 900;
}
.about
{
    background-image: url('../img/light_dot.jpg');
}
.about p
{
    color: #212529;
    font-size: 1.25rem;
    font-weight: 300;
}
.about .about-row .color
{
    color: #ff206e;
}
/* end about */

/* start services */

.services
{
    background-image: url('../img/dark_dot.jpg');
}
.services-content h2
{
    font-size: 3rem;
    letter-spacing: 15px;
    font-weight: 900;
    color: #222;
}
.services-content h3
{
    font-size: 2rem;
    font-weight: 900;
    color: #FFF;
    
}
.services .service-items h2
{
    position: relative;
    margin-bottom: 30px;
}
.services .service-items h2::after
{
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 15%;
    height: 3px;
    background-color: #ff206e;
    transition: width 1s;

}
.services .service-items:hover h2::after
{
    width: 30%;
}

.services .edit-p
{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 300;
}
/* end services */


/* start clients */
.client img{
    width: 150px;
    height: 150px;
}
.carousel-indicators [data-bs-target] {
    height: 30px;
    border-radius: 50%;
    text-indent: 0;
}
.carousel-indicators img{
    width: 30px;
    height: 30px;
}
.client{
    background-image: url('../../img/light_dot.jpg');
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:var(--mainColor);
    border:none;
}
.nav-tabs .nav-link {
    color: black;
    border:none;
}
.carousel-item p
{
    color: #212529;
    font-size: 1.25rem;
    font-weight: 300;
}
/* end clients */